{% extends 'base.html.twig' %}

{% block title %}
	{{ 'users.ssh_key.add.title'|trans({}, 'pages')}}
{% endblock %}

{% block body %}
	<div class="container-fluid my-3">
		<section>
			<div class="row">
				<div class="col-12">
					<div class="card card-list">
						<div class="p-3">
							<div class="card-header white d-flex justify-content-between align-items-center py-3">
								<p class="h5-responsive font-weight-bold mb-0">{{ 'users.ssh_key.add.title'|trans({}, 'pages')}}</p>
							</div>
							<div class="card-body">
								{{ form_start(sshKeyAddForm) }}
                                {{ form_widget(sshKeyAddForm.name, {
                                    'attr': {
                                        'class': 'form-control mb-4',
                                        'placeholder': 'sshkey.add.input.name.placeholder'|trans({}, 'form')
                                    }})
                                }}
                                {{ form_widget(sshKeyAddForm.publicKey, {
                                    'attr': {
                                        'class': 'form-control mb-4',
                                        'placeholder': 'sshkey.add.input.publicKey.placeholder'|trans({}, 'form')
                                    }})
                                }}
                                <button type="submit" class="btn btn-info btn-block mb-3">{{'sshkey.add.input.submit'|trans({}, 'form')}}</button>
								{{ form_end(sshKeyAddForm) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
